.imputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    color: rgba(1, 1, 1, 1);
    font-size: 14px;
    font-weight: 400;
  }
  .input,
  .selectInp
  {
    padding: 15px 5px 15px 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(198, 198, 200, 1);
    border-radius: 12px;
    color: rgba(68, 68, 68, 1);
  }
  .passwordInp{
    position: relative;
       border: 1px solid rgba(198, 198, 200, 1);
    border-radius: 12px;
    color: rgba(68, 68, 68, 1);
    input{
      border: none;
      outline: none;
    }
    .showHiddenPasswordIcon{
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      svg{
        path{
          stroke: #000;
        }
      }
    }
  }
  .checkedInputWrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    .checkInp {
      display: none;
    }
    .checkMark {
      width: 20px;
      height: 20px;
      background-color: rgba(66, 180, 47, 1);
      position: relative;
    }
        .checkInp:checked + .checkMark::after {
      content: "✔";
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 2px;
    }
  }

  .switchInput{
display: flex;
flex-direction: column;
gap: 10px;
margin: 18px 0 0 40px;
  }
}
